@font-face {
  font-family: 'Allerta Stencil';
  src: url(/src/assets/fonts/AllertaStencil-Regular.woff2);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url(/src/assets/fonts/DMSans-Regular.woff2);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url(/src/assets/fonts/DMSans-Medium.woff2);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url(/src/assets/fonts/DMSans-Bold.woff2);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  user-select: none;
  /*overflow-x: hidden;*/
  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: rgb(239, 239, 239) transparent;
}

body {
  font-family: 'DMSans', sans-serif;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(239, 239, 239);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(239, 239, 239);
}

@keyframes cinematic {
  0% {
    transform: scale(1) translate(0, 0);
  }

  50% {
    transform: scale(1.04) translate(-6px, -4px);
  }

  100% {
    transform: scale(1) translate(0, 0);
  }
}
